html {
    font-family:monospace;
    background-color:rgb(182, 181, 181);
}


body {
    width: 1366px;
    height: 768px;
    display: grid;
    /* grid-template-rows:100px 1fr; */
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    padding:10px 10px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;

    background-color:#00ccff;
    border: 4px solid black;
}

/*---Core Elements---*/
h1 {
    text-align:center;
    font-size: 200%;
}

h2 {
    text-align:center;
    font-size: 150%;
}

h4 {
    text-align:center;
    font-size:125%;
    margin:2px;
}

/*---Sections---*/

/* Set Info Section */
#match-intro{
    grid-column:1;
    background-color:green;
    width:auto;
    height:auto;
    border:2px solid black;
    padding:10px 10px;
    
    display:grid;
    grid-template-rows:100px 1fr;
    grid-gap:10px;
}

#game-title{
    grid-row:1;    
    width:auto;
    height:auto;
    justify-items:center;
    align-items:center;
    background-color:orange;
    border:2px solid black;
    padding:2px 2px;
    display:grid;
    grid-template-rows:40px 20px 1fr;
}

#game-rules{
    grid-row:2;
    width:auto;
    height:auto;
    justify-items:center;
    align-items:center;
    border:2px solid black;
    padding:10px 10px;

    display:inline-grid;
    grid-template-rows:100px 2fr 2fr;
    grid-template-columns:repeat(2, 1fr);
}

#rules-header{
    grid-row:1;
    grid-column:1/3;
    /* border:2px solid black; */
    padding:4px 4px;
}

#card-set-1{
    grid-row:2;
    grid-column:1;
    border:2px solid black;
    padding:4px 4px;
    background:orange;
}

#card-set-2{
    grid-row:3;
    grid-column:1;
    border:2px solid black;
    padding:4px 4px;
    background:orange;
}

#card-set-3{
    grid-row:2;
    grid-column:2;
    border:2px solid black;
    padding:4px 4px;
    background:orange;
}
#card-set-4{
    grid-row:3;
    grid-column:2;
    border:2px solid black;
    padding:4px 4px;
    background:orange;
}



/* Set Game Section */

#match-game{
    grid-column:2;
    background:blue;
    width:auto;
    height:auto;
    border:2px solid rgb(0, 0, 0);
    padding:10px 10px;

    display:grid;
    grid-template-rows:100px 2fr 160px;
    grid-gap:10px;
}

#game-control{ 
    grid-row:1;
    padding:4px 4px;
    border:4px solid black;
    overflow:hidden;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items:center;
    align-items:center;
}
#main-buttons{
    padding:2px 2px;
    grid-column:1;
    /* border:8px solid magenta; */
}

#gameplay-buttons{
    padding:2px 2px;
    grid-column:2;
    /* border:8px solid magenta; */
}

#scoreboard{
    grid-column:3;
    width:80px;
    height:60px;
    padding:10px 10px;
    color:yellow;
    border:4px solid magenta;
}


#card-table {
    grid-row:2;
    background:grey;
    width:auto;
    height:auto;
    border:2px solid black;
    padding:10px 10px;

    display:grid;
    grid-template-rows:repeat(3, 140px);
    grid-template-columns:repeat(5, 120px);
    grid-gap:10px;
}




/*---Card Actions---*/
.card-image {
    width:90px;
    height:130px;
    border-radius:5%;
}

.card-clicked {
    border:4px solid green;
}

.card-unclicked {
    border:4px solid black;
}

.card-hint {
    border:4px solid red;
}

/* Cells in the grid*/

/* Top row of grid */
.cell-0{
    grid-column:1;
    grid-row:1;
}

.cell-1{
    grid-column:2;
    grid-row:1;
}

.cell-2{
    grid-column:3;
    grid-row:1;
}

.cell-3{
    grid-column:4;
    grid-row:1;
}



/* Second row of grid */

.cell-4{
    grid-column:1;
    grid-row:2;
}

.cell-5{
    grid-column:2;
    grid-row:2;
}

.cell-6{
    grid-column:3;
    grid-row:2;
}

.cell-7{
    grid-column:4;
    grid-row:2;
}


/* Third row of grid */


.cell-8{
    grid-column:1;
    grid-row:3;
}

.cell-9{
    grid-column:2;
    grid-row:3;
}


.cell-10{
    grid-column:3;
    grid-row:3;
}

.cell-11{
    grid-column:4;
    grid-row:3;
}




/* Last column of card table is only used for extra cards*/

.cell-12{
    grid-column:5;
    grid-row:1;
}

.cell-13{
    grid-column:5;
    grid-row:2;
}

.cell-14{
    grid-column:5;
    grid-row:3;
}













/*Debugging stuff*/




.test-box{
    text-align:center;
    background:red;
    width:50px;
    height:50px;
}
