body{
    margin:2%;
    border:4px solid black;
    background-color:antiquewhite;
}

.example-card{
    width: auto;
    height:auto;
}

#game-rules{
    border:4px solid black;
}

#game-table{    
    border:4px solid black;
}

.example-set{
    border:4px solid green;
    max-height:100%;
}
.row{
    max-height:100%;
}